<mat-card class="guideline-content">
    <mat-card-header>
        <mat-card-title>
            Guideline for identifying a cold
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-card class="component-content">
            <mat-card-header>
                <mat-card-title> Chapter 1 </mat-card-title>
                <mat-card-subtitle> Symptoms </mat-card-subtitle>
                <button (click)="addComponents()" mat-raised-button color="primary">Add components</button>
            </mat-card-header>
            <mat-card-content *ngIf="selectedComponents.length">
                <ul>
                    <li *ngFor="let component of selectedComponents">
                       <span>{{component.name}}</span>
                    </li>
                  </ul>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>