<!-- <p>
  <mat-form-field>
    <mat-select
      [formControl]="selectedComponent"
      placeholder="Components"
      [multiple]="true"
      #multiSelect
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="filteredComponent"
        ></ngx-mat-select-search>
      </mat-option>
      <div style="display: flex; margin-left: 50px;margin-bottom: 20px">
        <div>Name</div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>Code</div>
      </div>
      <mat-option
        *ngFor="let filteredComponent of filteredComponents | async"
        [value]="filteredComponent"
      >
        {{ filteredComponent.name }} | {{ filteredComponent.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>Selected Components:</p>
<ul *ngFor="let selectedComponent of selectedComponent?.value">
  <li>{{ selectedComponent.name }}</li>
</ul>
 -->
<mat-card class="components-list">

  <div class="nav-buttons">
    <button (click)="onBackToOverviewClick()" mat-raised-button color="primary">Back to overview</button>
    <button (click)="onAddSelectedClick()" mat-raised-button color="primary" [disabled]="selection.selected.length === 0">Add selected</button>
  </div>
  
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search components" #input>
  </mat-form-field>
  
  <table #dataTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="redirectToDetail(row.id)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
   
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  
</mat-card>
